################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AngleTool/v14
/Output
/AngleTool/publish/Application Files/AngleTool_1_0_0_22
/AngleTool/obj/Debug
/AngleTool/bin/Release/app.publish/Application Files/AngleTool_1_0_0_3
